@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1000px){
    .projeto{
        flex-wrap: wrap;
        justify-content: center;
    }
    .imagens-projetos{
        width: 100px;
        height: 50px;
    }
}
body{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

p{
    margin: 2%;
    font-weight: 400;
}

.fundo-botoes{
    justify-content: center;
    display: flex;
    gap: 10%;
    font-size: 30px;
    background-color: black;
}

.fundosobremim{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: white;
    background-color: rgb(252, 171, 171);
}

.titulos-projetos{
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.projeto-direita{
    display: flex;
    flex-direction: row;
    background-color: #88c0d7;
    color: white;
    padding: 5%;
    margin-top: 5%;
}

.projeto-esquerda{
    display: flex;
    flex-direction: row-reverse;
    background-color: #f8c07b;
    color: white;
    padding: 5%;
    margin-top: 5%;
}

.imagens-projetos{
    width: 450px;
    height: 350px;
    border-radius: 20%;
}
.cursos{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color:gray;
    color: white;
    margin-top: 5%;
    font-size: 25px;
    padding: 3%;
}
.fundo-contatos{
   text-align: center;
   font-size: 25px;
   color: white;
   background-color: rgb(238, 164, 248);
    margin-top: 3%;
}
.titulos{
    font-size: 200%;
}
.container{
  display: flex;
}
